<?xml version="1.0" encoding="utf-8"?>
<!--
    MIT License

    Copyright (c) 2018 Andreas Jakl, https://www.andreasjakl.com/

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andresjakl.nfcdemo">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <!-- Default category is required for the intent filter to work -->
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- Browsable also enables opening this app through a link on a website -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Intent filters without data will never be triggered on NFC devices.
                Always define the specific data you expect to be present. -->
                <data android:scheme="https" android:host="www.andreasjakl.com" />
                <!-- Additionally support http scheme. See:
                https://developer.android.com/training/app-links/verify-site-associations.html -->
                <data android:scheme="http" />
            </intent-filter>

            <!-- Also register for the URL if it appears outside of NFC tags -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.andreasjakl.com" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>